.GestureDisplayX000000 { border:2px solid #000000; background-color:#000000;  max-width: 100px; float: left}
.GestureDisplayX000033 { border:2px solid #000033; background-color:#000033;  max-width: 100px; float: left}
.GestureDisplayX000066 { border:2px solid #000066; background-color:#000066;  max-width: 100px; float: left}
.GestureDisplayX003366 { border:2px solid #003366; background-color:#003366;  max-width: 100px; float: left}
.GestureDisplayX006600 { border:2px solid #006600; background-color:#006600;  max-width: 100px; float: left}
.GestureDisplayX006666 { border:2px solid #006666; background-color:#006666;  max-width: 100px; float: left}
.GestureDisplayX330000 { border:2px solid #330000; background-color:#330000;  max-width: 100px; float: left}
.GestureDisplayX330033 { border:2px solid #330033; background-color:#330033;  max-width: 100px; float: left}
.GestureDisplayX333333 { border:2px solid #333333; background-color:#333333;  max-width: 100px; float: left}
.GestureDisplayX333366 { border:2px solid #333366; background-color:#333366;  max-width: 100px; float: left}
.GestureDisplayX336600 { border:2px solid #336600; background-color:#336600;  max-width: 100px; float: left}
.GestureDisplayX336666 { border:2px solid #336666; background-color:#336666;  max-width: 100px; float: left}
.GestureDisplayX339900 { border:2px solid #339900; background-color:#339900;  max-width: 100px; float: left}
.GestureDisplayX441100 { border:2px solid #441100; background-color:#441100;  max-width: 100px; float: left}
.GestureDisplayX444444 { border:2px solid #444444; background-color:#444444;  max-width: 100px; float: left}
.GestureDisplayX660000 { border:2px solid #660000; background-color:#660000;  max-width: 100px; float: left}
.GestureDisplayX660066 { border:2px solid #660066; background-color:#660066;  max-width: 100px; float: left}
.GestureDisplayX663300 { border:2px solid #663300; background-color:#663300;  max-width: 100px; float: left}
.GestureDisplayX663366 { border:2px solid #663366; background-color:#663366;  max-width: 100px; float: left}
.GestureDisplayX666633 { border:2px solid #666633; background-color:#666633;  max-width: 100px; float: left}
.GestureDisplayX666666 { border:2px solid #666666; background-color:#666666;  max-width: 100px; float: left}
.GestureDisplayX666699 { border:2px solid #666699; background-color:#666699;  max-width: 100px; float: left}
.GestureDisplayX669900 { border:2px solid #669900; background-color:#669900;  max-width: 100px; float: left}
.GestureDisplayX777777 { border:2px solid #777777; background-color:#777777;  max-width: 100px; float: left}
.GestureDisplayX888888 { border:2px solid #888888; background-color:#888888;  max-width: 100px; float: left}
.GestureDisplayX990000 { border:2px solid #990000; background-color:#990000;  max-width: 100px; float: left}
.GestureDisplayX993300 { border:2px solid #993300; background-color:#993300;  max-width: 100px; float: left}
.GestureDisplayX996600 { border:2px solid #996600; background-color:#996600;  max-width: 100px; float: left}
.GestureDisplayX999999 { border:2px solid #999999; background-color:#999999;  max-width: 100px; float: left}
.GestureDisplayX0000ff { border:2px solid #0000ff; background-color:#0000ff;  max-width: 100px; float: left}
.GestureDisplayX00ccff { border:2px solid #00ccff; background-color:#00ccff;  max-width: 100px; float: left}
.GestureDisplayX00ffff { border:2px solid #00ffff; background-color:#00ffff;  max-width: 100px; float: left}
.GestureDisplayX3333cc { border:2px solid #3333cc; background-color:#3333cc;  max-width: 100px; float: left}
.GestureDisplayX3333ff { border:2px solid #3333ff; background-color:#3333ff;  max-width: 100px; float: left}
.GestureDisplayX3399ff { border:2px solid #3399ff; background-color:#3399ff;  max-width: 100px; float: left}
.GestureDisplayX66cc00 { border:2px solid #66cc00; background-color:#66cc00;  max-width: 100px; float: left}
.GestureDisplayX66ff99 { border:2px solid #66ff99; background-color:#66ff99;  max-width: 100px; float: left}
.GestureDisplayX9900cc { border:2px solid #9900cc; background-color:#9900cc;  max-width: 100px; float: left}
.GestureDisplayX99cccc { border:2px solid #99cccc; background-color:#99cccc;  max-width: 100px; float: left}
.GestureDisplayX99ffff { border:2px solid #99ffff; background-color:#99ffff;  max-width: 100px; float: left}
.GestureDisplayXaaaa88 { border:2px solid #aaaa88; background-color:#aaaa88;  max-width: 100px; float: left}
.GestureDisplayXbbbbff { border:2px solid #bbbbff; background-color:#bbbbff;  max-width: 100px; float: left}
.GestureDisplayXcc0000 { border:2px solid #cc0000; background-color:#cc0000;  max-width: 100px; float: left}
.GestureDisplayXcc33cc { border:2px solid #cc33cc; background-color:#cc33cc;  max-width: 100px; float: left}
.GestureDisplayXcc99ff { border:2px solid #cc99ff; background-color:#cc99ff;  max-width: 100px; float: left}
.GestureDisplayXccbb00 { border:2px solid #ccbb00; background-color:#ccbb00;  max-width: 100px; float: left}
.GestureDisplayXcccc00 { border:2px solid #cccc00; background-color:#cccc00;  max-width: 100px; float: left}
.GestureDisplayXcccccc { border:2px solid #cccccc; background-color:#cccccc;  max-width: 100px; float: left}
.GestureDisplayXccccff { border:2px solid #ccccff; background-color:#ccccff;  max-width: 100px; float: left}
.GestureDisplayXccffcc { border:2px solid #ccffcc; background-color:#ccffcc;  max-width: 100px; float: left}
.GestureDisplayXccffff { border:2px solid #ccffff; background-color:#ccffff;  max-width: 100px; float: left}
.GestureDisplayXff0000 { border:2px solid #ff0000; background-color:#ff0000;  max-width: 100px; float: left}
.GestureDisplayXff3300 { border:2px solid #ff3300; background-color:#ff3300;  max-width: 100px; float: left}
.GestureDisplayXff6600 { border:2px solid #ff6600; background-color:#ff6600;  max-width: 100px; float: left}
.GestureDisplayXff9900 { border:2px solid #ff9900; background-color:#ff9900;  max-width: 100px; float: left}
.GestureDisplayXff99ff { border:2px solid #ff99ff; background-color:#ff99ff;  max-width: 100px; float: left}
.GestureDisplayXffaa00 { border:2px solid #ffaa00; background-color:#ffaa00;  max-width: 100px; float: left}
.GestureDisplayXffccff { border:2px solid #ffccff; background-color:#ffccff;  max-width: 100px; float: left}
.GestureDisplayXffff00 { border:2px solid #ffff00; background-color:#ffff00;  max-width: 100px; float: left}
.GestureDisplayXffff66 { border:2px solid #ffff66; background-color:#ffff66;  max-width: 100px; float: left}
.GestureDisplayXffffcc { border:2px solid #ffffcc; background-color:#ffffcc;  max-width: 100px; float: left}
.GestureDisplayXffffff { border:2px solid #ffffff; background-color:#ffffff;  max-width: 100px; float: left}
